// variable
$small-screen: 48em !default
$medium-screen: 62em !default
$large-screen: 75em !default
$font-family: "Raleway", sans-serif
$font-family-numbers: "Josefin Sans", sans-serif
$font-size-base: 1rem !default
$font-size-h1: 2rem !default
$font-weight-strong: 600
$text-color: #fff !default
$bg-color: rgba(43, 45, 47, 1)
$card-bg-color: linear-gradient(145deg,rgba(115, 115, 115, 0.15) 15%,rgba(43, 45, 47, 1) 80%)
$primary-color: #2395ff
$max-width: 1200px
$box-color: #ffcc00

@keyframes whoa 
    100%
        margin-left: 24px
        box-shadow: 8px 8px darken($box-color, 15), 16px 16px darken($box-color, 20)

        
html, body 
    box-sizing: border-box
    color: white

*, *:before, *:after 
    box-sizing: inherit
  
body 
    background: black

.container 
    position: relative
    border-radius: 8px
    max-width: min(100%, $max-width)
    width: 100%
    margin: 0 auto
    min-height: 500px

$min-box-height: 200px
.box 
    margin: 40px
    margin-right: 15px
    max-width: $max-width/3.5
    min-height: $min-box-height/1.25
    width: 100%
    background: $box-color
    
    animation: whoa 1s forwards 
    animation-delay: .5s 

.grid 
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-evenly
    flex-direction: row
        
.typing
    overflow: hidden
    border-right: .5px solid white
    white-space: nowrap
    margin: 0 auto
    width: fit-content
    letter-spacing: .05em
    animation: typing 8s steps(45, end) forwards, blink .75s step-end infinite

@keyframes typing 
    0% 
        max-width: 0
    50%
        max-width: 800px
    90% 
        border-right: .5px solid white
    100% 
        border: none

@keyframes blink 
    0%, 100%
        border-color: transparent
    50%
        border-color: white